<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Web App</display-name>

  <error-page>
    <error-code>400</error-code>
    <location>/errorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorHandler</location>
  </error-page>
</web-app>
